body
{
    scrollbar-base-color: #000000;
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-arrow-color: #ff0000;
    scrollbar-highlight-color: #FFFFFF;
    
    scrollbar-track-color: #FFFFFF;
}
.tape{
    background-color: rgb(12, 150, 135) ;
    padding: 50px 0;
    width: 100%;
    position: relative;
    
}
.box-app-container{
    
    background-color: rgb(234, 234, 233);
    height: 97vh;
   
}
.all-web-app{
    background-color: rgb(220, 220, 211);
    height: 100vh;
}

.app-position{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}
.my-profile-box{
    flex-shrink: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.img-icon{
    width: 40px;
    border-radius: 30px;
}
.box-notify{
    flex-shrink: 0;
    align-items: center ;
    padding: 10px;
    background-color: rgb(143, 218, 250);
    
}


.fa-bell-slash{
    font-size: 27px;
    background: white;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: rgb(143, 218, 250);;
}
.box-main{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.box-icone{
    padding-right: 15px;
}


.search-chat{
    margin: 5px;
    position: relative;
}

.search-text{
    width: 100%;
    padding-left: 30px;
      
}

#text-msg-tab{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25ch;
}

.fa-search{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(-50%,-50%);
    color: rgba(128, 128, 128, 0.651);
}



.chat-task{
    border-top: 0.7px solid rgba(219, 210, 210, 1);
    padding: 10px 0;
    padding-left: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.8s;
}

.chat-task:focus{
    background-color: #0000002e;
}

.msg-user-menu{
    height: 70%;
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
    margin-right: 5px;

}

 

.msg-user-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  .msg-user-menu::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }
  .msg-user-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    background-color: #666666;
  }





.big-box{
    flex-grow: 1;
    overflow: auto;
    background-image: url("../img/mine.jpg");
   
}

.big-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  .big-box::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }
  .big-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    background-color: #666666;
  }

.recived-msg{
    
    color: white;
    text-align: right;
}
.sent.msg{
    background-color: rgb(255, 255, 255);
    color: black;
}

.style-msg-recived{
    background-color: #98FB98;
    border-radius:10px;
    display: inline-block;
    margin: 10px;
    padding: 13px;
    color: black;
    border-bottom-left-radius: 0;
    animation: bounce 1s ;
}
.style-msg-sent{
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    padding: 13px;
    border-bottom-right-radius: 0;
    animation: bounce 1s ;
}
.text-send-msg{
    width: 100%;
    border: 0;
    border-radius: 20px;
    padding: 10px 10px;
    

}
.name-user-msg{
    padding-left: 10px;
}

.icon-box-style{
    padding: 10px;
    font-size: 25px;
    color: rgba(128, 128, 128, 0.829);
}
.input-text-style{
    margin: 10px;
    width: 100%;
 
}

.fa-circle-notch,.fa-comment-alt,.fa-ellipsis-v{
    color:rgba(128, 128, 128, 0.829); ;
}
.message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: -1;
}



/* font size */

h5{font-size: 1.05rem;}
h4{font-size: 1.2rem;}
p{font-size: 10px;}

.btn-menu{
    
    border: 0;
    background: transparent;
    position: absolute;
    top: 6px;
    right: 3px;
    font-size: 8px;
    color: #666666;
}

.date-style{
    position: relative;
    left: 5px;
    top: 10px;
    font-size: 10px;
    color: gray;
}
.date-top{
    font-size: x-small;
 padding-left: 10px;}

#text-box{
    position: relative;
  
    
}
.btn-submenu{
    position: absolute;
    right: 0;
    top: 42px;
    background-color: rgb(0 120 0 / 0%);
    overflow: hidden;
    transition: opacity 1s ease;
    opacity: 0;
    font-size: 12px;
    height: 0;
}

.btn-menu:focus .btn-submenu{
    height:auto;
    opacity: 1;
    z-index: 1;
}

.btn-sub-menustyle{
    padding-left: 0;
    margin: 0;
    transition: 2s;
}



.date-box-style{
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 10px;
}
.style-msg-sent::before
    {
        position: absolute;
        content: "";
        left: auto;
        right: 0;
        border-right: none;
        border-left: 15px solid transparent;
        border-top: 12px solid #ffffff;
        bottom: -10px;
}

.style-msg-recived::before{
    
    position: absolute;
    content: "";
    border-right: none;
    left: -2px;
    border-left: 15px solid transparent;
    border-top: 12px solid #98FB98;
    bottom: -10px;
    transform: rotate(270deg);

}



/* animazioni */
@keyframes bounce {
    0% {
      transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
      transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
      transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
      transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
      transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
      transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
      transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
      transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
      transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
      transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
      transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
      transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  
  /* */
  