html{
    scrollbar-width: none;
}
.tape{
    background-color: rgb(12, 150, 135) ;
    padding: 50px 0;
    width: 100%;
    position: relative;
    
}
.box-app-container{
    
    background-color: rgb(234, 234, 233);
    height: 97vh;
   
}
.all-web-app{
    background-color: rgb(220, 220, 211);
    height: 100vh;
}

.app-position{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}
.my-profile-box{
    flex-shrink: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.img-icon{
    width: 40px;
    border-radius: 30px;
}
.box-notify{
    flex-shrink: 0;
    align-items: center ;
    padding: 10px;
    background-color: rgb(143, 218, 250);
}
.fa-bell-slash{
    font-size: 30px;
    background: white;
    padding: 10px;
    border-radius: 50%;
}
.box-main{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.box-icone{
    padding-right: 15px;
}

.fa-search{
    position: absolute;
    left: 3px;
}
.search-chat{
    margin: 5px;
}

.search-text{
    width: 100%;
    
}

.chat-task{
    border-top: 0.7px solid rgba(219, 210, 210, 1);
    padding: 10px 0;
    padding-left: 10px;
}

.msg-user-menu{
    height: 70%;
flex-grow: 1;
overflow-y: auto;
background-color: white;
margin-right: 5px;
}



.big-box{
    flex-grow: 1;
    overflow: hidden;
    background-image: url("../img/mine.jpg");
}

.recived-msg{
    
    color: white;
    text-align: right;
}

.style-msg-recived{
    background-color: green;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
.style-msg-sent{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    padding: 10px
;
}
.text-send-msg{
    width: 100%;
    border: 0;
    border-radius: 20px;
    padding: 10px 0;
}
.name-user-msg{
    padding-left: 10px;
}

.icon-box-style{
    padding: 10px;
    font-size: 25px;
    color: rgba(128, 128, 128, 0.829);
}
.input-text-style{
    margin: 10px;
    width: 100%;
 
}

.fa-circle-notch,.fa-comment-alt,.fa-ellipsis-v{
    color:rgba(128, 128, 128, 0.829); ;
}
.message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: -1;
  }

/* font size */

h5{font-size: 1.05rem;}
h4{font-size: 1.2rem;}
p{font-size: 10px;}



.recived-msg{
   
}